# infra/docker-compose.yml
version: "3.8"
services:
  minio:
    image: minio/minio:latest
    env_file: ./.env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow:
    image: apache/airflow:2.6.3
    restart: unless-stopped
    env_file: ./.env
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins

  ingestion:
    build:
      context: ../services/ingestion
    env_file: ./.env
    depends_on:
      - minio
    ports:
      - "8000:8000"

  delivery-api:
    build:
      context: ../services/delivery-api
    env_file: ./.env
    depends_on:
      - minio
    ports:
      - "8100:8100"

  spark:
    image: bitnami/spark:latest
    environment:
      - SPARK_MODE=standalone
    depends_on:
      - minio

volumes:
  minio_data:
